.shadow {
  -webkit-box-shadow: 0px 14px 6px -10px #777777;
  -moz-box-shadow: 0px 14px 6px -10px #777777;
  box-shadow: 0px 14px 6px -10px #777777;
}
body {
  background-color: #ecab75 !important;
  height: 100% !important;
  color: #f5f0ed !important;
}
body div {
  text-align: center;
}
body header {
  border-bottom: 1px solid #f5f0ed;
  width: 80%;
  padding: 2em 0 1em 0;
  margin: 0px auto;
  position: relative;
}
body header a.brand {
  display: block;
  text-align: center;
  text-decoration: none !important;
}
body header a.brand span {
  color: #f5f0ed !important;
  font-family: 'Lobster';
  font-size: 64px;
}
body header a.brand span:hover {
  color: #f0ead9 !important;
}
body header a.brand img {
  margin-top: -30px;
  margin-right: 30px;
  margin-left: 30px;
}
body header span#twitter {
  position: absolute;
  right: 50px;
}
body header span#twitter a {
  color: #f5f0ed;
}
body #getglory,
body #pay {
  margin: 4em auto;
}
body #getglory label,
body #pay label {
  font-size: 16px;
}
body #getglory i,
body #pay i {
  background-image: url('../img/glyphicons-halflings-white.png');
}
body #getglory span,
body #pay span {
  color: white !important;
  margin: 5px;
}
body #bid-ok {
  margin-top: 50px !important;
  font-size: 16px;
}
body #bid-ok #informations {
  margin-top: 20px;
  font-size: 20px;
}
body #theglory {
  padding: 0px;
  margin: 4em auto;
}
body #theglory img {
  max-width: 80%;
  max-height: 60%;
  -webkit-box-shadow: 0px 14px 6px -10px #777777;
  -moz-box-shadow: 0px 14px 6px -10px #777777;
  box-shadow: 0px 14px 6px -10px #777777;
}
body #explications {
  text-align: center;
  height: 100%;
  margin-top: 80px;
}
body #explications li {
  padding: 20px;
  display: inline-block;
  width: 200px;
  height: 100%;
  vertical-align: top;
}
body #explications li i {
  color: white;
  font-size: 64px;
  height: 80px;
}
body #explications li p {
  font-size: 24px;
  line-height: 1.3em;
}
