.shadow {
  -webkit-box-shadow: 0px 14px 6px -10px #777777;
  -moz-box-shadow: 0px 14px 6px -10px #777777;
  box-shadow: 0px 14px 6px -10px #777777;
}
body {
  background-color: #ecab75 !important;
  height: 100% !important;
  color: #f5f0ed !important;
}
body div {
  text-align: center;
}
body a.brand {
  display: block;
  margin: 0px auto;
  text-align: center;
  margin-top: 80px !important;
  text-decoration: none !important;
}
body a.brand:hover span {
  color: #f5f0ed !important;
}
body a.brand span {
  color: #d3751b !important;
  font-family: 'Lobster';
  font-size: 64px;
}
body a.brand img {
  margin-top: -30px;
  margin-right: 30px;
  margin-left: 30px;
}
body #getglory,
body #pay {
  margin: 50px !important;
}
body #getglory label,
body #pay label {
  font-size: 16px;
}
body #getglory i,
body #pay i {
  background-image: url('../img/glyphicons-halflings-white.png');
}
body #getglory span,
body #pay span {
  color: white !important;
  margin: 5px;
}
body #bid-ok {
  margin-top: 50px !important;
  font-size: 16px;
}
body #bid-ok #informations {
  margin-top: 20px;
  font-size: 20px;
}
body #theglory {
  padding: 0px;
  margin: 0px auto;
}
body #theglory img {
  max-width: 80%;
  max-height: 60%;
  -webkit-box-shadow: 0px 14px 6px -10px #777777;
  -moz-box-shadow: 0px 14px 6px -10px #777777;
  box-shadow: 0px 14px 6px -10px #777777;
}
body #explications {
  text-align: center;
  height: 100%;
  margin-top: 80px;
}
body #explications li {
  padding: 20px;
  display: inline-block;
  width: 200px;
  height: 100%;
  vertical-align: top;
}
body #explications li i {
  color: white;
  font-size: 64px;
  height: 80px;
}
body #explications li p {
  font-size: 24px;
  line-height: 1.3em;
}
body a#past {
  display: block;
  margin: 0px auto;
  width: 100px;
  margin-top: 200px;
}
